[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
gofile-client = "*"
tqdm = "*"
gofile-dl = {editable = true, path = "."}

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.10"
